<nav class="navbar fixed-top navbar-dark bg-warning">
  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to 'Home', root_path, class:'nav-link' %></li>
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to current_user.role, root_path,class: 'nav-link'  %></li>
      <li class="nav-item"><%= link_to 'Cerrar Sesión', destroy_user_session_path , method: :delete ,class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Perfil (Edit)', edit_user_registration_path(current_user), class: 'nav-link' %></li>
      <% if current_user.admin? %>
        <li class="nav-item"><%= link_to "Questions", questions_path  ,class: 'nav-link' %></li>
      <% end %>
    <% else %>
      <li class="nav-item"><%= link_to 'Ingreso (Log In)', new_user_session_path ,class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Registro (Sign Out)', new_user_registration_path, class: 'nav-link' %></li>
    <% end %>
  </ul>
</nav>


<div class="notificaciones">
  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong><%= notice %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= alert %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
