<%= form_with(model: @answer, local: true) do |form| %>
  <div class="field">
    <%= form.label :answer, "Respuesta" %>
    <%= form.text_field :answer %>
  </div>
  <% if @questions.nil? %>
    <%= form.hidden_field :question_id, value: @answer.question_id %>
  <% else %>
    <%= form.select :question_id, @questions.pluck(:description, :id) %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
