<%= render 'questions/form' %>

<label for="Answers List">Respuestas</label>
<% @answers.each do |answer| %>
  <ul>
    <li><%= answer.answer %></li>
  </ul>
<% end %>

<%= form_with(model: [@question, @answer], local: true) do |form| %>

  <%= form.hidden_field :question_id, value: @question.id %>
  <p><%= @question.id %></p>
  <div class="field">
    <%= form.label :answer, "Respuesta" %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to "Back", questions_path  %>
