<%= link_to 'New Question?', new_question_path %>
<%= render 'questions/form' %>

<% if @answers.count > 0 %>
  <label for="Answers List">Respuestas</label>
  <h1><%= @question.description %> ?</h1>

  <form name="FormOpt">
    <% @answers.each do |answer| %>
      <ul class="list-group">
        <li class="list-group-item <%= answer.tipo.to_s=="true" ? 'list-group-item-success' : 'list-group-item-warning'%>" id ="form<%= answer.id %>">
          <%= answer.answer %>
          <ol class="list-group">
            <li class="list-group-item"><%= link_to "X", question_answer_path(answer.question_id, answer.id) , method: :delete %></li>
          </ol>
          <% if answer.tipo.to_s == "true" %>
             <div class="input-group">
               <input type="radio" name="AnswerOpt" id="answer<%= answer.id %>opt1" checked="<%= answer.tipo.to_s %>" onclick="OnChangeState ('form<%= answer.id %>')" class="form-radio">
               <label for="answer<%= answer.id %>opt1">Respuesta Correcta</label>

               <div class="d-none">
                 <input type="radio" name="AnswerOpt" id="answer<%= answer.id %>opt2">
               </div>

             </div>
          <% else %>
            <div class="input-group">
              <input type="radio" name="AnswerOpt" id="answer<%= answer.id %>opt1" onclick="OnChangeState ('form<%= answer.id %>')" class="form-radio">
              <label for="answer<%= answer.id %>opt1">Respuesta Equivocada</label>

              <div class="d-none">
                <input type="radio" name="AnswerOpt" id="answer<%= answer.id %>opt2" checked="true">
              </div>

            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </form>
<% end %>

<%= form_with(model: [@question, @answer], local: true) do |form| %>

  <%= form.hidden_field :question_id, value: @question.id %>

  <div class="field">
    <%= form.label :answer, "Respuesta" %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to "Back", questions_path  %>

<script type="text/javascript">
  function OnChangeState (clicked_id) {

        var form_clicks = document.querySelectorAll(".list-group-item-success")

        // marcar los elementos success como warning
        for (var i = 0; i < form_clicks.length; i++) {
            if (form_clicks[i].classList.contains("list-group-item-success")){
              form_clicks[i].classList.remove("list-group-item-success");
              form_clicks[i].classList.add("list-group-item-warning");
            }
            var label = form_clicks[i].querySelectorAll("label");
            label[0].innerText='Respuesta Equivocada';
            console.log(label);
        }

        // marcar los elementos clicked como success
        var i
				for (i=0;i<document.FormOpt.AnswerOpt.length;i++){
					if (document.FormOpt.AnswerOpt[i].checked){
            var form_click = document.getElementById(clicked_id);
            if (form_click.classList.contains("list-group-item-warning")){
                form_click.classList.remove("list-group-item-warning");
                form_click.classList.add("list-group-item-success");
              }
            var label = form_click.querySelectorAll("label");
            label[0].innerText='Respuesta Correcta';
            break;
				    }
        }
 }
</script>
