<%= link_to 'New Question?', new_question_path %>
<%= render 'questions/form' %>

<% if @answers.count > 0 %>
  <label for="Answers List">Respuestas</label>
  <h1><%= @question.description %> ?</h1>
  <% @answers.each do |answer| %>
    <ul class="list-group">
      <li class="list-group-item <%= answer.tipo.to_s=="true" ? 'list-group-item-success' : 'list-group-item-warning'%>">
        <%= answer.answer %>
        <ol class="list-group">
          <li class="list-group-item"><%= link_to "X", question_answer_path(answer.question_id, answer.id) , method: :delete %></li>
        </ol>
        <div class="">
          <form>
            <% if answer.tipo.to_s == "true" %>
               <div class="input-group">
                 <input type="radio" name="answer<%= answer.id %>" id="answer<%= answer.id %>opt1" checked="<%= answer.tipo.to_s %>" onclick="OnChangeState (this.name)">
                 <label for="answer<%= answer.id %>">True</label>
                 <input type="radio" name="answer<%= answer.id %>" id="answer<%= answer.id %>opt2" onclick="OnChangeState (this.name)">
                 <label for="answer<%= answer.id %>">False</label>
               </div>
            <% else %>
              <div class="input-group">
                <input type="radio" name="answer<%= answer.id %>" id="answer<%= answer.id %>opt1" onclick="OnChangeState (this.name)">
                <label for="answer<%= answer.id %>">True</label>
                <input type="radio" name="answer<%= answer.id %>" id="answer<%= answer.id %>opt2" checked="true" onclick="OnChangeState (this.name)">
                <label for="answer<%= answer.id %>">False</label><br>
              </div>
            <% end %>
          </form>
        </div>
      </li>
    </ul>
  <% end %>
<% end %>

<%= form_with(model: [@question, @answer], local: true) do |form| %>

  <%= form.hidden_field :question_id, value: @question.id %>

  <div class="field">
    <%= form.label :answer, "Respuesta" %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to "Back", questions_path  %>

<script type="text/javascript">
  function OnChangeState (clicked_id) {
    alert(clicked_id);
    var radioButTrat = document.getElementsByName(clicked_id);
    for (var i=0; i<radioButTrat.length; i++) {
      if (radioButTrat[i].checked == true) {
        alert(radioButTrat[i].id);
       }
    }
   }
</script>
